* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

.GoogleCalender {
    width: 100%;
    height: calc(100vh - 130px);
}

.container {
    display: flex;
}

a {
    text-decoration: none;
    color: #807e7e;
}
a:hover {
    color: #000;
}
.focus {
    color: #000;
}

.bar {
    background-color: rgb(255, 255, 255);
    width: 25%;
    min-width: 200px;
    max-width: 300px;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 0px 20px rgb(189, 189, 189) ;
    .top {
        margin-bottom: 25px;
        h2 {
            margin-bottom: 10px;
            font-weight: 900;
        }
        .input {
            width: 100%;
            background-color: #f5f5f5;
            color: #242424;
            padding: .15rem .5rem;
            min-height: 40px;
            border-radius: 4px;
            outline: none;
            border: none;
            line-height: 1.15;
            box-shadow: 0px 10px 20px -17px;
        }
        input:focus {
            border-bottom: 2px solid #58585e;
            border-radius: 4px 4px 2px 2px;
        }
        input:hover {
            outline: 1px solid lightgrey;
        }    
    }
    .mid {
        font-size: 13px;
        color: #3d3d3d;
        .task{
            font-size: 16px;
            margin-bottom: 15px;
            color: #3d3d3d;
        }
        .upcoming {
            display: flex;
            align-content: center;
            margin-bottom: 10px;
            gap: 10px;
            cursor: pointer;
            i{
                align-self: center;
            }
            p:nth-child(3) {
                margin-left: auto;
            }
        }
        .today {
            display: flex;
            align-content: center;
            margin-bottom: 10px;
            gap: 10px;
            cursor: pointer;
            i{
                align-self: center;
            }
            p:nth-child(3) {
                margin-left: auto;
            }
        }
        .calender {
            display: flex;
            align-content: center;
            margin-bottom: 10px;
            gap: 10px;
            cursor: pointer;
            i{
                align-self: center;
            }
            p:nth-child(3) {
                margin-left: auto;
            }
        }
        .stickywall {
            display: flex;
            align-content: center;
            margin-bottom: 10px;
            gap: 10px;
            cursor: pointer;
            i{
                align-self: center;
            }
            p:nth-child(3) {
                margin-left: auto;
            }
        }
    }
    .bottom {
        position: absolute;
        bottom: 0;
        margin-bottom: 20px;
        color: #3d3d3d;
        .settings {
            display: flex;
            align-content: center;
            margin-bottom: 10px;
            gap: 10px;
            cursor: pointer;
            i{
                align-self: center;
            }
            p {
                cursor: pointer;
            }
        }
        .logout {
            display: flex;
            align-content: center;
            margin-bottom: 10px;
            gap: 10px;
            cursor: pointer;
            i{
                align-self: center;
            }
        }
    }
}

.main {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    h1 {
        margin-bottom: 30px;
        font-size: 40px;
    }
    .mini {
        display: flex;
        gap: 15px;
        .boxs {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            width: fit-content;
        }
        .box {
            width: 230px;
            height: 260px;
            padding: 15px;
            box-sizing: border-box;
            border-radius: 5px;
            overflow-wrap: break-word;
            position: relative;
            h3 {
                margin-bottom: 10px;
            }
            p {
                font-size: 14px;
            }
            i {
                position: absolute;
                bottom: 20px;
                right: 20px;
                transition: 0.2s ease-in-out;
            }
            i:hover {
                color: red;
                cursor: pointer;
            }
            #editNote {
                position: absolute;
                top: 20px;
                right: 20px;
                height: fit-content;
            }
            #editNote:hover {
                cursor: pointer;
                color: #3c53c7;
            }
        }
        .add {
            font-size: 50px;
            position: absolute;
            width: 150px;
            height: 100px;
            right: 20px;
            bottom: 20px;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            border-radius: 5px;
            background-color: #e2e2e2;
            border-radius: 8px;
            background: #e0e0e0;
            border-radius: 5px;
            background: #e0e0e0;
            box-shadow:  20px 20px 60px #bebebe,
                        -20px -20px 60px #ffffff;
            i {
                cursor: pointer;
            }
        }
    }
}

.addNew {
    position: absolute;
    background-color: rgb(194, 194, 194);
    left: calc(50% - 250px);
    top: calc(50% - 150px);
    width: 500px;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(95, 95, 95);
    box-sizing: border-box;
    padding: 20px;
    z-index: 1;
    h2{
        margin-bottom: 20px;
    }
    input {
        width: 100%;
        border: none;
        border-radius: 5px;
        height: 35px;
        margin-bottom: 15px;
        padding: 8px;
        box-sizing: border-box;
    }
    input:focus {
        border: none;
        outline: none;
    }
    textarea {
        width: 100%;
        max-width: 100%;
        height: 150px;
        max-height: 150px;
        margin-bottom: 15px;
        padding: 5px;
        box-sizing: border-box;
        border: none;
        border-radius: 8px;
    }
    textarea:focus {
        outline: none;
    }
    #addBtn {
    font-family: inherit;
    font-size: 20px;
    background: #212121;
    color: white;
    fill: rgb(155, 153, 153);
    padding: 0.5em 0.9em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-weight: 1000;
    }
    #addBtn span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
    }
    #addBtn svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
    }
    #addBtn:hover {
        background: #000;
    }
    #addBtn:hover .svg-wrapper {
        transform: scale(1.25);
        transition: 0.5s linear;
    }
    #addBtn:hover svg {
        transform: translateX(1.2em) scale(1.1);
        fill: #fff;
    }
    #addBtn:hover span {
        opacity: 0;
        transition: 0.5s linear;
    }
    #addBtn:active {
        transform: scale(0.95);
    }
}

.blur::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);
    z-index: 1;
}

.hide {
    display: none;
}


/* ------------------------------------------------------- */

/* Today Page  */

.checkbox-wrapper .cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
.checkbox-wrapper .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper .cbx span:first-child {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #b9b8c3;
    transition: all 0.2s ease;
}
.checkbox-wrapper .cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 4px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506eec;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
}
.checkbox-wrapper .cbx span:last-child {
    margin-left: 8px;
}
.checkbox-wrapper .cbx span:last-child:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #b9b8c3;
    transform-origin: 0 0;
    transform: scaleX(0);
}
.checkbox-wrapper .cbx:hover span:first-child {
    border-color: #3c53c7;
}

.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child {
    border-color: #3c53c7;
    background: #3c53c7;
    animation: check-15 0.6s ease;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:last-child {
    color: #b9b8c3;
    transition: all 0.3s ease;
}
.checkbox-wrapper .inp-cbx:checked + .cbx span:last-child:after {
    transform: scaleX(1);
    transition: all 0.3s ease;
}

@keyframes check-15 {
    50% {
        transform: scale(1.2);
    }
}

.today {
    h1 {
        margin-bottom: 30px;
        font-size: 40px;
    }
    .mini .tasks {
        display: flex;
        flex-direction: row;
        .task{
            .checkbox-wrapper {
                margin-bottom: 15px;
            }
            .taskP {
                align-self: center;
                font-size:16px;
            }
        }
    } 
}

@media (max-width:500px) {
    .bar {
        min-width:75px;
        position: sticky;
        .top {
            input {
                box-shadow: 0 0 7px 0 rgb(173, 173, 173);
            }
        }
        h2 {
            font-size: 19px;
            margin-left: 0;
            padding-left: 0;
        }
        .mid {
            .stickywall {
                justify-content: center;
            }
            .calender {
                justify-content: center;
            }
            .today {
                justify-content: center;
            }
            i {
                font-size: 17px;
                margin-bottom: 10px;
            }
            p {
                display: none;
            }
        }
        .bottom {
            width: calc(100% - 40px);
            box-sizing: border-box;
            .settings ,
            .logout {
                justify-content: center;
                width: 100%;
            }
            i{
                font-size: 17px;
            }
            p {
                display: none;
            }
        }
    }
    .main {
        .mini {
            .boxs {
                .box {
                    width: 150px;
                    height: 160px;
                    padding: 15px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    overflow-wrap: break-word;
                    position: relative;
                    overflow-y: auto;
                    h3 {
                        font-size: 17px;
                    }
                    p {
                        padding-bottom: 10px;
                        padding-right: 15px;
                    }
                    #editNote {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }
                    #delNote {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        /* bottom: 20px;
                        transform: translateX(110px) translateY(20px);
                        padding-bottom: 10px; */
                        transition: 0.2s ease-in-out;
                        }
                }
            }
            .add {
                position: fixed;
                width: 75px;
                height: 50px;
                box-shadow: 0 0 15px 0 rgb(151, 151, 151);
            }        
        }
    }
    #addPlus {
        font-size: 24px;
    }
    .addNew {
        width: 300px;
        left: calc(50% - 150px);
        top: calc(50% - 150px);    
    }
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #a3131300;
}
::-webkit-scrollbar-thumb {
    background: rgba(158, 158, 158, 0.651); 
    border-radius: 10px;
    cursor:grab ;
}